body {
  position: relative;
  width: 1440px;
  height: 5061px;
  color: #ffffff;
  background: #131313;
}

.descp {
  position: absolute;
 

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 0.045em;
  color: #ffffff;
}
.head {
  position: absolute;
  width: 1418px;
  height: 128px;
  left: -8px;
  top: 588px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 300px;
  line-height: 375px;
  text-align: center;
  letter-spacing: 0.045em;

  color: #1bd50b;
}
.nav {
  display: flex;
  align-items: center; /* centers items vertically */
}

nav {
  margin-left: 20px; /* adds some space between the logo and navigation links */
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 20px; /* adds some space between each navigation link */
}
a {
  text-decoration: none;
  color: black;
}
.nav a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #25F507;
}
.logo {
  width: 150px;
  height: 102px;
}
.nav_only {
  position: absolute;
width: 658px;
height: 41px;
left: 293px;
top: 31px;

background: #1E1E1E;
border-radius: 15px;
}

.cret {
  background-image: url(quadrup-transperent.png);
}
h1 {
  position: absolute;
  width: 1418px;
  height: 128px;
  left: -8px;
  top: 588px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 300px;
  line-height: 375px;
  text-align: center;
  letter-spacing: 0.045em;

  color: #1bd50b;
}

.comp_title {
  position: absolute;
  width: 461px;
  height: 113px;
  left: 754px;
  top: 1176px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 130%;
  /* or 78px */
  color: #ffffff;
}
.rnd h2 {
  position: absolute;
  width: 381px;
  height: 113px;
  left: 45px;
  top: 1176px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 130%;
  /* or 78px */
  color: #ffffff;
}

/* background image*/
.rnd {
  position: absolute;
  width: 662px;
  height: 150px;
  left: 39px;
  top: 720px;
  background-image: url('2.png');
}

/* Research and Development at Cretus */
.rnd p {
  position: absolute;
  width: 381px;
  height: 113px;
  left: 45px;
  top: 1290px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */
  color: rgba(255, 255, 255, 0.6);
}

/* Competitions */

.comp {
  position: absolute;
  width: 461px;
  height: 113px;
  left: 754px;
  top: 720px;
  
}

.comp_title {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 130%; /* or 78px */
  color: #ffffff;
}

/* Participation in Robotics Competitions */

.comp p {
  position: absolute;
  width: 381px;
  height: 113px;
  left: 754px;
  top: 1290px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 130%; /* or 32px */
  color: rgba(255, 255, 255, 0.6);
}

/* background */


.what_we p {
  position: absolute;
  width: 347px;
  height: 63px;
  left: 546px;
  top: 2000px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  /* identical to box height */

  color: #ffffff;
}
